.uh1 {
  margin: 0px;
  color: gray;
  font-size: 24px;
}

.uh2 {
  margin: 3px;
  color: gray;
  font-size: 22px;
  text-align: left;
}

.gridTy {
  display: grid;
  grid-template-areas: "gTopBanner gTopBanner"
                       "gMenu gSideBar"
                       "gSearch gSideBar"
                       "gTitle gSideBar"
                       "generalTy gSideBar";
  grid-template-rows: auto 70px 120px 40px auto;
  grid-template-columns: 78% 1fr;
  /* max-width: 1920px; */
  /* max-width: 1190px; */
  max-width: 95%;
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.gTopBanner {
  width: 100%;
  grid-area: gTopBanner;
  height: auto;
  border: 0px solid black;
  background-color: white;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}

.gTopBanner img {
  width: 100%;
  min-width: 400px;
  height: auto;
  border: 0px solid black;
}

.gMenu {
  display: block;
  grid-area: "gMenu";
  border: 0px solid black;
  padding-right: 20px;
  background-color: white;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  padding-left: 10px;
}

.ulTopMenu li {
  display: inline-block;
  width: auto;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  text-align: center;
  /* border: 0px solid black; */
}

.liSelected {
  border-bottom: 4px solid grey ;
  font-weight: bold;
  color: grey;
}

.liUnselected {
  border: 0px solid black;
}


.gTitle {
  display: block;
  grid-area: "gTitle";
  border: 0px solid black;
  padding-top: 10px;
  margin: 0px;
  background-color: white;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  padding-left: 10px;
}

.gTitle h1 {
  margin: 3px;
  color: grey;
}

.gSideBar {
  grid-area: gSideBar;
  display: block;
  border: 0px solid black;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}

.sidebarOther {
  display: block;
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.sidebarPartner {
  display: block;
  margin-top: 10px;
  border: 1px solid red;
  width: 100%;
  height: auto;
}

.sidebarLogo {
  width: 160px;
  height: 144px;
}

.sidebarImg {
  width: 262px;
  height: 232px;
}

.sidebarPrice {
  display: block;
  color: red;
  font-size: 16px;
}

.sidebarNote {
  display: block;
  color: grey;
  font-size: 16px;
}

.sidebarH2 {
  margin: 3px;
  margin-top: 10px;
  color: gray;
  font-size: 20px;
  text-align: left;
}

.search {
  grid-area: gSearch;
  border: 0px solid black;
  padding-right: 20px;
  background-color: white;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  padding-left: 10px;
}

.search input {
  display: block;
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.search span {
  display: block;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonSearch {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  font-weight: normal;
  font-size: 14px;
  color: white;
  background-color: #152848;
  box-shadow: 2px 2px 2px;
  text-align: center;
  box-sizing: border-box;
  background-image: url("../img/out-link-hover.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 98% 50%;
  transition: .55s opacity;
}

.buttonSearch:hover {
  cursor: pointer;
  opacity: 0.8;
}

.generalTy {
  grid-area: generalTy;
  /* width: 100%; */
  padding-right: 20px;
  background-color: white;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}

.selectTab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 0px solid black;
  margin: 0px;
  padding: 0px;
}

.plitka {
  position: relative;
  display: block;
  width: 262px;
  height: 275px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
  margin: 12px;
}

.plitka img {
  display: block;
  border-radius: 5px 5px 0px 0px;
  width: 262px;
  height: 232px;
  border: 0px;
  margin: 0;
  padding: 0;
}

.plitka:hover > .note {
  opacity: 0.9;
  visibility: visible;
}

.figcaption {
  display: block;
  text-align: center;
  padding: 3px;
  font-weight: bold;
  font-size: 15px;
  color: grey;
}

.note {
  position: absolute;
  display: block;
  background-color: lightskyblue;
  color: black;
  top: 0px;
  left: 0px;
  width: 252px;
  padding: 5px;
  margin-right: 0px;
  border-radius: 5px 5px 0px 0px;
  opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
  text-align: center;
  line-height: normal;
}

.noteNameLong {
  font-size: 13px;
  text-align: justify;
}

.noteDiscription {
  font-size: 13px;
  text-align: justify;
}

.notePrice {
  text-transform: uppercase;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.noteCat {
  background-color: white;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: auto;
  max-width: 250px;
  text-align: center;
  font-weight: bold;
}

.plitkaLogo {
  position: relative;
  /* float: left; */
  width: 190px;
  height: 235px;
  /* width: 262px;
  height: 275px; */
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin: 10px;
}

.plitkaLogo img {
  display: block;
  width: 160px;
  height: 144px;
  margin: 15px;
  border: 1px solid grey;
  padding: 0px;
}

.figcaptionLogo {
  display: block;
  text-align: center;
  padding: 3px;
  font-weight: bold;
  font-size: 16px;
  color: grey;
  border-top: 1px solid grey;
}

.gridTy a:link {text-decoration: none; color: black;}
.gridTy a:visited {text-decoration: none; color: black;}
.gridTy a:active {text-decoration: none; color: black;}
.gridTy a:hover {text-decoration: none; color: black;}

.exampleLink a:link {text-decoration: underline; font-weight: bold; color: lightskyblue;}
.exampleLink a:visited {text-decoration: underline; font-weight: bold; color: lightskyblue;}
.exampleLink a:active {text-decoration: underline; font-weight: bold; color: lightskyblue;}
.exampleLink a:hover {text-decoration: underline; font-weight: bold; color: lightskyblue;}

@media only screen and (max-device-width: 500px) {
  .gridTy {
    display: grid;
    grid-template-areas: "gTopBanner"
                         "gTitle"
                         "gMenu"
                         "gSearch"
                         "generalTy"
                         "gSideBar";
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    /* max-width: 1920px; */
    max-width: 1190px;
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
  }
}